body{
    background: rgb(70, 142, 236);
    font: normal 15pt Arial;

}

header{
    color: white;
    text-align: center;

}

section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}
div{
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(25, 55, 57);
    padding: 8px;
    text-align: center;
    background: rgb(21, 185, 197);
    color: white;

}
div#res{
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif; 
    box-shadow: 10px 10px 10px rgb(25, 55, 57);
    padding: 10px;
    text-align: center;
    background: rgb(21, 185, 197);
    color: white;

}
footer{
    color: white;
    text-align: center;
}